Connected Services/BancoService/BancoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://banco.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://banco.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://banco.org/">
      <s:element name="VerificarSaldoParaCompra">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="numeroCuenta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipoCuenta" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="montoCompra" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificarSaldoParaCompraResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VerificarSaldoParaCompraResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="VerificarSaldoParaCompraSoapIn">
    <wsdl:part name="parameters" element="tns:VerificarSaldoParaCompra" />
  </wsdl:message>
  <wsdl:message name="VerificarSaldoParaCompraSoapOut">
    <wsdl:part name="parameters" element="tns:VerificarSaldoParaCompraResponse" />
  </wsdl:message>
  <wsdl:portType name="BancoServiceSoap">
    <wsdl:operation name="VerificarSaldoParaCompra">
      <wsdl:input message="tns:VerificarSaldoParaCompraSoapIn" />
      <wsdl:output message="tns:VerificarSaldoParaCompraSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BancoServiceSoap" type="tns:BancoServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerificarSaldoParaCompra">
      <soap:operation soapAction="http://banco.org/VerificarSaldoParaCompra" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BancoServiceSoap12" type="tns:BancoServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerificarSaldoParaCompra">
      <soap12:operation soapAction="http://banco.org/VerificarSaldoParaCompra" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BancoService">
    <wsdl:port name="BancoServiceSoap" binding="tns:BancoServiceSoap">
      <soap:address location="https://localhost:44301/BancoService.asmx" />
    </wsdl:port>
    <wsdl:port name="BancoServiceSoap12" binding="tns:BancoServiceSoap12">
      <soap12:address location="https://localhost:44301/BancoService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>